LOOPS
1. for loop 
2. while loop

In [1]:
fruits = ['apples', 'bananas', 'oranges', 'peaches', 'pears']
for x in fruits:
    print(x)

apples
bananas
oranges
peaches
pears

In [3]:
swift = ['fearless', '1989', 'debut', 'midnight', 'reputation', 'lover', 'red', 'speak now', 'folklore', 'evermore']
for tay in swift:
    print(tay)

fearless
1989
debut
midnight
reputation
lover
red
speak now
folklore
evermore

In [4]:
swift = ['fearless', '1989', 'debut', 'midnight', 'reputation', 'lover', 'red', 'speak now', 'folklore', 'evermore']
for tay in swift:
    print(tay, end= ' ') #to print the loop items in a straight line.

fearless 1989 debut midnight reputation lover red speak now folklore evermore

In [9]:
#in str
name = "my name is Amisha"
for i in name:
    print (i)

m
y

n
a
m
e

i
s

A
m
i
s
h
a

In [8]:
for i in name:
    print(i, end="")

my name is Amisha

In [10]:
#in ranges
for name in range(10):
    print ("Amisha")

Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha

In [11]:
for num in range(2,11): #starting and ending range
    print(num)

2
3
4
5
6
7
8
9
10

In [13]:
for num in range(2,21,2):
    print (num)

2
4
6
8
10
12
14
16
18
20

In [28]:

for num in range (21):
    if  num%2!=0:
        print (num)

1
3
5
7
9
11
13
15
17
19

In [36]:
#basic salary = 50000, DA = 10% of BS, HRA = 5% of BS, calculate gross salary.

BS = 50000
DA = 10/100*BS
print (DA)
HRA = 5/100*BS
print (HRA)
grossal = BS+DA+HRA
print (grossal)

5000.0
2500.0
57500.0

In [16]:
num = 15
for i in range(1,11):
    a= num*i
    print(f"{num} * {i} = {a}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

while loop

In [19]:
name = 0
while name<10:
    print ("Amisha")
    name+=1

Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha
Amisha

In [20]:
num = 2
while num <=10:
    print (num)
    num+=1

2
3
4
5
6
7
8
9
10

In [29]:
num = 1
while num<=10:
    if num%2!=0:
        print(num)
    num +=1  #run increment num outside the if condition block, so that it can run in loop condition block.

1
3
5
7
9

In [40]:
num = 15
i = 1
while i<=10:
    a = num*i
    print (f"{num} * {i} = {a}")
    i+=1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
#BREAK

for x in range(2,10):
    if x==5:
        break
    print(x)

2
3
4

In [2]:
#continue

for x in range(2,10):
    if x==5:
        continue
    print(x)

2
3
4
6
7
8
9